@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f4f2f1;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
  background-image: url("/noise.svg");
  mix-blend-mode: overlay;
}

.albert_sans {
  font-family: var(--font-albert-sans);
}

.instrument_serif {
  font-family: var(--font-instrument-serif);
}
